<app-header></app-header>


<!-- Title section -->
<div class="text-xl text-center mb-4">Reservaciones</div>

<!-- Buttons section -->
<app-reservations-buttons (filterChanged)="filterReservations($event)"></app-reservations-buttons>

<!-- En tu plantilla principal -->
<div class="grid grid-cols-1 xl:grid-cols-2 lg:grid-cols-2 gap-4 w-full p-4 mb-4">
  <app-reservation-item *ngFor="let reservation of reservations" [reservation]="reservation">
    <div class="mt-4">
      <button
        *ngIf="reservation.status === 'Pendiente de aceptación'"
        class="bg-gray-500 text-white font-semibold py-2 px-4 rounded-full hover-bg-red-600"
        (click)="cancelReservation(reservation._id)"
      >
        Anular
      </button>
    </div>
    <div class="mt-4">
      <button
        *ngIf="reservation.status === 'Completada'"
        class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-blue-600"
        (click)="navigateToReviewPage(reservation.game._id)"
      >
        Reseña
      </button>
    </div>
</app-reservation-item>
</div>

       
