<div class="max-w-md mx-auto mt-8">
    <div class="bg-white p-8 shadow-md rounded-lg">
      <h2 class="text-2xl font-semibold mb-6">Restablecer Contraseña</h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label for="newPassword" class="block text-sm font-medium text-gray-600">Nueva Contraseña</label>
          <input
            type="password"
            id="newPassword"
            formControlName="newPassword"
            class="mt-1 p-3 block w-full border rounded-md bg-gray-100 focus:outline-none focus:ring focus:border-blue-300"
          />
         
         
        </div>
        <div class="mb-4">
          <label for="validatePassword" class="block text-sm font-medium text-gray-600">Confirmar Contraseña</label>
          <input
            type="password"
            id="validatePassword"
            formControlName="validatePassword"
            class="mt-1 p-3 block w-full border rounded-md bg-gray-100 focus:outline-none focus:ring focus:border-blue-300"
          />
         
        </div>
        <div class="mt-6">
          <button
            type="submit"
            class="w-full bg-blue-500 text-white py-3 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300"
          >
            Actualizar Contraseña
          </button>
        </div>
      </form>
    </div>
  </div>
  
  <div class="max-w-md mx-auto mt-8" *ngIf="isLoading">
    <div class="bg-blue-200 p-6 shadow-md rounded-lg">
      <p>Esperando el resultado...</p>
    </div>
  </div>
  
  <div class="max-w-md mx-auto mt-8" *ngIf="!isLoading && !tokenValid">
    <div class="bg-red-200 p-6 shadow-md rounded-lg">
      <p class="text-red-600 font-semibold">Error al validar el token</p>
      <p>El token proporcionado no es válido. Por favor, solicita un nuevo correo de restablecimiento de contraseña.</p>
    </div>
  </div>
  