<app-header></app-header>
<!-- Title section -->
<div class="text-xl text-center mb-4">Reservaciones</div>
<!-- Buttons section -->
<div class="flex justify-center space-x-4 my-4">
  <button
    class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-blue-600"
    (click)="filterReservations('all')"
  >
    All reservations
  </button>
  <button
    class="bg-yellow-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-yellow-600"
    (click)="filterReservations('Pending acceptance')"
  >
    Pending acceptance
  </button>
  <button
    class="bg-green-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-green-600"
    (click)="filterReservations('Accepted')"
  >
    Accepted
  </button>
  <button
    class="bg-purple-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-purple-600"
    (click)="filterReservations('Picked up')"
  >
    Picked Up
  </button>
  <button
    class="bg-pink-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-pink-600"
    (click)="filterReservations('Completed')"
  >
    Completed
  </button>
  <button
    class="bg-red-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-red-600"
    (click)="filterReservations('Rejected')"
  >
    Rejected
  </button>
  <button
    class="bg-gray-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-gray-600"
    (click)="filterReservations('Canceled')"
  >
    Canceled
  </button>
</div>

<div
  class="grid grid-cols-1 xl:grid-cols-2 lg:grid-cols-2 gap-4 w-full p-4 mb-4"
>
  <div *ngFor="let reservation of reservations">
    <div class="bg-white border rounded-lg shadow-lg flex">
      <!-- Foto del juego a la izquierda -->
      <div class="w-1/3 p-4">
        <div class="w-40 h-40">
          <img
            [src]="reservation.game.photo"
            [alt]="reservation.game.title"
            class="w-full h-full object-contain"
          />
        </div>
      </div>

      <!-- Datos a la derecha -->
      <div class="w-2/3 p-4">
        <div class="font-bold text-xl mb-2 text-teal-600">
          {{ reservation.game.title }}
        </div>
        <div class="text-sm">
          <span class="font-semibold">Fecha:</span>
          <span class="ml-2 text-gray-500">{{
            reservation.date | date : "dd/MM/yyyy"
          }}</span>
        </div>
        <div class="text-sm">
          <span class="font-semibold">Hora:</span>
          <span class="ml-2 text-gray-500">{{
            reservation.date | date : "HH:mm"
          }}</span>
        </div>
        <div
          [ngClass]="{
            'text-sm text-yellow-500':
              reservation.status === 'Pending acceptance',
            'text-sm text-green-500': reservation.status === 'Accepted',
            'text-sm text-red-500': reservation.status === 'Rejected',
            'text-sm text-gray-500': reservation.status === 'Canceled',
            'text-sm text-purple-500': reservation.status === 'Picked up',
            'text-sm text-orange-900': reservation.status === 'Expired',
            'text-sm text-pink-500': reservation.status === 'Completed'
          }"
        >
          <span class="text-sm text-black font-semibold">Estado:</span>
          <span class="ml-2 font-semibold">{{ reservation.status }}</span>
        </div>
        <div class="text-sm">
          <span class="font-semibold">Código de la reserva:</span>
          <span class="ml-2 text-purple-500">{{ reservation.code }}</span>
        </div>
        <div class="text-sm">
          <span class="font-semibold">Código de juego:</span>
          <span class="ml-2 text-sky-500">{{ reservation.game.code }}</span>
        </div>
        <div class="text-sm">
          <span class="font-semibold">Usuario:</span>
          <span class="ml-2 text-gray-500">{{
            reservation.user.username
          }}</span>
        </div>
        <!-- Mostrar rejectionReason si el estado es 'Rejected' -->
        <div class="text-sm" *ngIf="reservation.status === 'Rejected'">
          <span class="font-semibold">Motivo de Rechazo:</span>
          <span class="ml-2 text-red-500">{{
            reservation.rejectionReason
          }}</span>
        </div>
        <!-- Mostrar expirationDate si el estado es 'Accepted' -->
        <div class="text-sm" *ngIf="reservation.status === 'Accepted'">
          <span class="font-semibold">Fecha de Vencimiento:</span>
          <span class="ml-2 text-green-500">{{
            reservation.expirationDate | date : "dd/MM/yyyy"
          }}</span>
        </div>

        <!-- Botones de acción según el estado de la reserva -->
        <div class="mt-4">
          <button
            *ngIf="reservation.status === 'Pending acceptance'"
            class="bg-green-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-green-600 mr-4"
            (click)="showAcceptDialog(reservation._id)"
          >
            Aceptar
          </button>

          <button
            *ngIf="reservation.status === 'Pending acceptance'"
            class="bg-red-500 text-white font-semibold py-2 px-4 rounded-full hover-bg-red-600"
            (click)="showRejectDialog(reservation._id)"
          >
            Rechazar
          </button>
          <button
            *ngIf="reservation.status === 'Accepted'"
            class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-full hover-bg-blue-600 mr-4"
            (click)="markAsPickedUpReservation(reservation._id)"
          >
            Recoger
          </button>
          <button
            *ngIf="reservation.status === 'Accepted'"
            class="bg-orange-500 text-white font-semibold py-2 px-4 rounded-full hover-bg-orange-600"
            (click)="showRejectDialog(reservation._id)"
          >
            Cancelar
          </button>
          <button
            *ngIf="reservation.status === 'Picked up'"
            class="bg-pink-500 text-white font-semibold py-2 px-4 rounded-full hover-bg-pink-600"
            (click)="markAsCompletedReservation(reservation._id)"
          >
            Completada
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Diálogo de aceptación de reserva -->
<p-dialog
  header="Aceptar Reserva"
  [(visible)]="displayAcceptDialog"
  [modal]="true"
>
  <div class="p-4">
    <div class="mb-4">
      <label
        for="expirationDate"
        class="block text-sm font-semibold text-gray-600"
        >Fecha de vencimiento:</label
      >
      <input
        type="text"
        id="expirationDate"
        [(ngModel)]="expirationDate"
        class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:border-blue-500"
      />
    </div>
    <div class="flex justify-end">
      <button
        (click)="acceptReservation()"
        class="bg-green-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-green-600 mr-2"
      >
        Aceptar
      </button>
      <button
        (click)="displayAcceptDialog = false"
        class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded-full hover:bg-gray-400"
      >
        Cancelar
      </button>
    </div>
  </div>
</p-dialog>

<!-- Diálogo de rechazo de reserva -->
<p-dialog
  header="Rechazar Reserva"
  [(visible)]="displayRejectDialog"
  [modal]="true"
>
  <div class="p-4">
    <div class="mb-4">
      <label
        for="rejectionReason"
        class="block text-sm font-semibold text-gray-600"
        >Razón de rechazo:</label
      >
      <input
        type="text"
        id="rejectionReason"
        [(ngModel)]="rejectionReason"
        class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:border-blue-500"
      />
    </div>
    <div class="flex justify-end">
      <button
        (click)="rejectReservation()"
        class="bg-red-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-red-600 mr-2"
      >
        Aceptar
      </button>
      <button
        (click)="displayRejectDialog = false"
        class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded-full hover:bg-gray-400"
      >
        Cancelar
      </button>
    </div>
  </div>
</p-dialog>
