<app-header></app-header>

<div class="container p-4 mx-auto">
  <h1 class="text-2xl font-bold mb-4 text-center">{{ article?.title }}</h1>
  <div class="article-info bg-white p-4 rounded shadow-lg flex flex-col items-center">
    <!-- Centra la imagen horizontalmente -->
    <img [src]="article?.photo || '../../../../../../assets/article_photo.png'" alt="Article Photo" class="w-60 h-full mb-4 mx-auto" />
    <!-- Agrega 'mb-4' para separar la imagen del título -->
    <div class="text-left">
      {{ article?.text }}
    </div>
    <ng-container *ngFor="let tag of article?.tags">
      <span class="bg-gray-200 text-gray-700 text-sm rounded-full px-2 py-1 mr-2 m-1">{{ tag }}</span>
    </ng-container>

    <div class="flex items-center mt-4 mx-4 justify-between w-full">
      <!-- Alinea los elementos de la derecha verticalmente y utiliza 'justify-end' para alinear a la derecha -->
      <div class="flex mt-4 mx-2">
        <!-- Alinea los elementos de la izquierda verticalmente -->
        <button (click)="toggleLike()">
          <i class="pi pi-heart" [class.red]="hasLiked"></i>
          {{ article?.numLikes == null ? "0" : article?.numLikes }}
        </button>
      </div>
      <div class="ml-2 text-gray-600">
        <div class="flex items-center">
          <!-- Envuelve la foto del autor y el nombre de usuario en un contenedor flex -->
          <img [src]="article?.author?.photo || '../../../../../../assets/profile.png'" alt="Author Photo" class="w-12 h-12 rounded-full" />
          <p class="text-gray-600 ml-2">{{ article?.author?.username }}</p>
          <!-- Agrega 'ml-2' para separar el nombre de usuario de la foto del autor -->
        </div>
        <div class="text-right">
          <!-- Utiliza 'text-right' para alinear la fecha a la derecha -->
          <p class="text-gray-600">{{ article?.date | date:'dd/MM/yyyy' }}</p>
        </div>
      </div>
    </div>
    <a routerLink="/dashboard/blog" class="text-blue-500 hover:underline mt-4 block text-center">Volver al blog</a>
  </div>
</div>
