<app-header></app-header>
<!-- Title section -->
<div class="text-xl text-center mb-4">Reservaciones</div>
<!-- Buttons section -->
<app-reservations-buttons
  (filterChanged)="filterReservations($event)"
></app-reservations-buttons>

<!-- En tu plantilla principal -->
<div
  class="grid grid-cols-1 xl:grid-cols-2 lg:grid-cols-2 gap-4 w-full p-4 mb-4"
>
  <app-reservation-item
    *ngFor="let reservation of reservations"
    [reservation]="reservation"
  >
    <!-- Botones de acción según el estado de la reserva -->
    <div class="mt-4">
      <button
        *ngIf="reservation.status === 'Pendiente de aceptación'"
        class="bg-green-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-green-600 mr-4"
        (click)="showAcceptDialog(reservation._id)"
      >
        Aceptar
      </button>

      <button
        *ngIf="reservation.status === 'Pendiente de aceptación'"
        class="bg-red-500 text-white font-semibold py-2 px-4 rounded-full hover-bg-red-600"
        (click)="showRejectDialog(reservation._id)"
      >
        Rechazar
      </button>
      <button
        *ngIf="reservation.status === 'Aceptada'"
        class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-full hover-bg-blue-600 mr-4"
        (click)="markAsPickedUpReservation(reservation._id)"
      >
        Recoger
      </button>
      <button
        *ngIf="reservation.status === 'Acptada'"
        class="bg-orange-500 text-white font-semibold py-2 px-4 rounded-full hover-bg-orange-600"
        (click)="showRejectDialog(reservation._id)"
      >
        Cancelar
      </button>
      <button
        *ngIf="reservation.status === 'Recogido'"
        class="bg-pink-500 text-white font-semibold py-2 px-4 rounded-full hover-bg-pink-600"
        (click)="markAsCompletedReservation(reservation._id)"
      >
        Completada
      </button>
    </div>
  </app-reservation-item>
</div>

<!-- Diálogo de aceptación de reserva -->
<p-dialog
  header="Aceptar Reserva"
  [(visible)]="displayAcceptDialog"
  [modal]="true"
>
  <div class="p-4">
    <div class="mb-4">
      <label
        for="expirationDate"
        class="block text-sm font-semibold text-gray-600"
        >Fecha de vencimiento:</label
      >
      <input
        type="text"
        id="expirationDate"
        [(ngModel)]="expirationDate"
        class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:border-blue-500"
      />
    </div>
    <div class="flex justify-end">
      <button
        (click)="acceptReservation()"
        class="bg-green-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-green-600 mr-2"
      >
        Aceptar
      </button>
      <button
        (click)="displayAcceptDialog = false"
        class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded-full hover:bg-gray-400"
      >
        Cancelar
      </button>
    </div>
  </div>
</p-dialog>

<!-- Diálogo de rechazo de reserva -->
<p-dialog
  header="Rechazar Reserva"
  [(visible)]="displayRejectDialog"
  [modal]="true"
>
  <div class="p-4">
    <div class="mb-4">
      <label
        for="rejectionReason"
        class="block text-sm font-semibold text-gray-600"
        >Razón de rechazo:</label
      >
      <input
        type="text"
        id="rejectionReason"
        [(ngModel)]="rejectionReason"
        class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:border-blue-500"
      />
    </div>
    <div class="flex justify-end">
      <button
        (click)="rejectReservation()"
        class="bg-red-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-red-600 mr-2"
      >
        Aceptar
      </button>
      <button
        (click)="displayRejectDialog = false"
        class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded-full hover:bg-gray-400"
      >
        Cancelar
      </button>
    </div>
  </div>
</p-dialog>
