<app-header></app-header>
<div class="forum-container m-4">
    <h2 class="text-2xl font-semibold mb-4">Foro</h2>

<!-- Sección para mostrar la lista de mensajes -->

<div class="message-list mb-4 relative" style="margin-bottom: 100px;">
  <ul>
    <li *ngFor="let message of orderedMeesages" class="mb-4">
      <div class="flex mx-auto m-2 pt-3 pl-2">
        <!-- Foto del usuario (izquierda) -->
        <div class="flex-shrink-0 w-1/8 mx-auto">
          <img [src]="message.user.photo || '../../../../../assets/profile.png'" alt="Avatar del usuario" class="rounded-full w-16 h-16" />
        </div>

        <!-- Mensajes (derecha) -->
        <div class="w-full ml-4 relative">
          <div [ngClass]="{'bg-blue-500 text-white': message.user._id === userId, 'bg-gray-200 text-black': message.user._id !== userId}" class="message-text pb-4 pt-2 pr-4 pl-4 border rounded-xl">
            <div class="message-header" style="display: flex; justify-content: space-between; align-items: center;">
              <span class="message-username text-md font-semibold">
                {{ message.user.username }}
                <!-- Icono de estrella si el rol es 'Admin' -->
                <i *ngIf="message.user.role === 'Admin'" class="pi pi-star-fill text-yellow-500 ml-2"></i>
              </span>
              <!-- Clase condicional para el color del icono -->
              <i (click)="toggleMessageState(message._id)" [ngClass]="{'text-white': message.user._id === userId, 'text-slate-500 hover:text-slate-900': message.user._id !== userId}" class="pi pi-ellipsis-h p-2" style="margin-left: 10px;"></i>
            </div>
            {{ message.text }}
            <!-- Muestra la fecha junto a la hora con estilos de Tailwind CSS -->
            <div class="message-time text-xs pt-6 absolute bottom-0 right-0 mt-5 pr-2 pb-1">
              <!-- Clase condicional para el color del texto -->
              <span [ngClass]="{'text-white': message.user._id === userId, 'text-gray-900': message.user._id !== userId}" class="italic px-3">{{ message.date | date:'dd/MM/yyyy' }}</span>
              <span [ngClass]="{'text-white': message.user._id === userId, 'text-gray-900': message.user._id !== userId}">{{ message.date | date:'HH:mm' }}</span>
            </div>
          </div>

          <div class="message-actions mt-4 pr-3 shadow-md" style="position: absolute; top: 0; right: 0;">
            <div *ngIf="isMessageOpen(message._id)" style="background-color: #ffffff; padding: 10px; border-radius: 5px;">
              <!-- Icono de cruz para cerrar el menú -->
              <i (click)="closeMenu(message._id)" class="pi pi-times p-2 text-gray-700 hover:text-gray-900" style="position: absolute; top: 10px; right: 10px; cursor: pointer;"></i>

              <!-- Opciones de menú (Editar, Eliminar, etc.) -->
              <button (click)="openEditDialog(message._id)" class="block text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Editar</button>
              <button (click)="deleteMessage(message._id)" class="block text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="scroll-container"></div>
</div>


    <!-- Sección para crear un nuevo mensaje al final del contenedor -->
    <div class="fixed bottom-0 left-0 right-0 p-4 bg-gray-200">
        <div class="container mx-auto">
            <div class="create-message-section relative">
                <div class="relative w-full">
                    <div class="relative">
                        <div class="relative w-full">
                            <input [(ngModel)]="newMessageText" placeholder="Escribe tu mensaje" class="w-full py-4 pl-4 pr-14 border rounded">
                            <button (click)="createNewMessage(newMessageText)" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600 absolute right-2 top-2">
                                <!-- Icono de avión de papel -->
                                <i class="pi pi-send"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog
  header="Editar Mensaje"
  [(visible)]="isDialogOpen"
  [modal]="true"
  [responsive]="true"
  (onHide)="closeEditDialog()"
  class="max-w-md mx-auto"
>
  <div class="p-4">
    <input
      [(ngModel)]="editedMessageText"
      placeholder="Editar mensaje"
      class="w-full py-2 px-3 border rounded-md"
    />
  </div>
  <div class="p-dialog-footer flex justify-end p-4 bg-gray-100">
    <button
      type="button"
      (click)="editMessage(messageIdBeingEdited, editedMessageText); closeEditDialog();"
      class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
    >
      Guardar
    </button>
    <button
      type="button"
      (click)="closeEditDialog()"
      class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md ml-2 hover:bg-gray-300"
    >
      Cancelar
    </button>
  </div>
</p-dialog>
